html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: $font-color;
    background: $body-bg;
    font-family: $font-family-body;
    line-height: $line-height-base;
}

p {
    font-size: $font-size-base;
}

a {
    text-decoration: none;
    color: inherit;
    border-bottom: 4px solid $pink;
}

a:hover {
    background: $pink-transparent;
    border-bottom-color: transparent;
    transition: $transition-time-2;
}

h1, h2, h3, h4, h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    font-family: $font-family-headline;
    font-weight: 700; 
}

h1 {
    font-size: $font-size-headline;
    line-height: $line-height-headline;
    margin-bottom: $space-4;
}

.page-container {
    display: flex;
    flex-direction: column-reverse;
}

.header {
    margin: 0 auto;
    padding: $space-4 0;
}

.logo {
    font-size: $font-size-base*1.2;
    font-family: $font-family-headline;
    font-weight: 700;
}

.post-container {
    max-width: $max-container-width;
    margin: $space-6 auto; 
    padding: $space-7 $space-8;
    background: $container-bg;
    border: $container-border;
}


// .slide-up-container {
//     animation-name: slideUpContainer;
// 	animation-iteration-count: 1;
// 	animation-timing-function: ease-in-out;
// }

// @keyframes slideUpContainer {
// 	0% {border: 1px solid transparent; background: transparent; margin-top: $space-7;}
// 	100% {border: $container-border; background: $container-bg; margin-top: $space-6;}
// }

// .fade-in {
// 	opacity: 1;
// 	animation-name: fadeInOpacity;
// 	animation-iteration-count: 1;
// 	animation-timing-function: ease-in-out;
// }
// .time-1 {
//     animation-duration: $transition-time-1;
// }
// .time-2 {
//     animation-duration: $transition-time-2;
// }
// .time-3 {
//     animation-duration: $transition-time-3;
// }
// .time-4 {
//     animation-duration: $transition-time-4;
// }

// @keyframes fadeInOpacity {
// 	0% {opacity: 0;}
// 	100% {opacity: 1;}
// }

@media all and (max-width: 768px) {
    .post-container {
        padding: $space-4;
        margin: $space-2 auto;
    }
    .logo {
        font-size: $font-size-base;
    }
    h1 {
        font-size: $font-size-headline *.5;
        margin-bottom: $space-2;
    }
    p {
        font-size: $font-size-base * .8;
    }
}

@media all and (max-width: 376px) {
    .post-container {
        padding-left: $space-3;
        padding-right: $space-3;
    }
}