html, body {
    font-size: $font-size-html;
    margin: 0;
    padding: 0;
    color: $font-color;
    background: $body-bg;
    font-family: $font-family-body;
    line-height: $line-height-base;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

small, .small {
    font-size: 70%;
}

a { 
    text-decoration: none;
    color: inherit;
    border-bottom: 4px solid $pink;
}

a:hover {
    background: $pink-transparent;
    border-bottom-color: transparent;
    transition: $transition-time-2;
}

.list a, .list a:hover {
    background: none;
    border-bottom: none;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    font-family: $font-family-headline;
    font-weight: 700; 
    line-height: $line-height-headline;
}

h1, .h1 {
    font-size: $font-size-headline;
}

h2, .h2 {
    font-size: $font-size-headline * .8;
}

h3, .h3 {
    font-size: $font-size-headline * .6;
}

.container {
    width: $container-width;
    max-width: $max-container-width;
    margin: 0 auto;
}

.framed {
    padding: $space-7 (100%-$container-width)/2;
    background: $container-bg;
    border: $container-border;
}

.content {
    margin: $space-5 auto; 
}

.content img { 
    max-width: 100%;
    display: block;
}

.list-item {
    padding: $space-5;
    width: 33%;
    flex-grow: 1;
    margin: .2%;
    display: flex;
    align-items: center;
}

.list-item:first-child {
    width: 49.2%;
}

.list-item:first-child h3 {
    font-size: $font-size-headline * .8;
}

.flex-wrap {
    display: flex;
    flex-flow: wrap;
}

.pad-5 {
    padding: $space-5 0; 
}

.mb-1 {
    margin-bottom: $space-1;
}

.mb-2 {
    margin-bottom: $space-2;
}

.mb-3 {
    margin-bottom: $space-3;
}

.mb-4 {
    margin-bottom: $space-4;
}

.mt-3 {
    margin-top: $space-3;
}

@media all and (max-width: 768px) {
    .container {
        width: $container-width + 10;
    }
    .content {
        padding: $space-4;
        margin: 0 auto;
    }
    .list-item {
        padding: $space-4;
    }
    .list-item:first-child h3 {
        font-size: $font-size-headline * .6;
    }
    h1, .h1{
        font-size: $font-size-headline *.8;
    }
    h3, .h3 {
        font-size: $font-size-base;
    }
}

@media all and (max-width: 486px) {
    .mb-4 {
        margin-bottom: $space-3;
    }
    .container {
        width: $container-width + 15;
    }
    .content {
        padding-left: $space-3;
        padding-right: $space-3;
    }
    .pad-5 {
        padding: $space-3 0; 
    }
    html, body {
        font-size: $font-size-html * .8;
    }
}

// .color-fade-in {
//     animation-name: colorFade;
// 	animation-iteration-count: 1;
// 	animation-timing-function: ease-in;
// }

// @keyframes colorFade {
// 	0% {background: $container-bg; }
// 	100% { background: #fff;}
// }

// .fade-in {
// 	opacity: 1;
// 	animation-name: fadeInOpacity;
// 	animation-iteration-count: 1;
// 	animation-timing-function: ease-in-out;
// }
// .time-1 {
//     animation-duration: $transition-time-1;
// }
// .time-2 {
//     animation-duration: $transition-time-2;
// }
// .time-3 {
//     animation-duration: $transition-time-3;
// }
// .time-4 {
//     animation-duration: $transition-time-4;
// }

// @keyframes fadeInOpacity {
// 	0% {opacity: 0;}
// 	100% {opacity: 1;}
// }